@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(230, 230, 230);
    color: #000;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Monserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

.contenedor {
    width: 100%;
    margin: 0 auto 0 auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/
    column-gap: 0;

    /*3 columnas: section (con 2 widgets) - sidebar*/
    grid-template-columns: repeat(3, 1fr);

    /*4 filas: header, section, contact-form, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
        "section section section"
        "codear-info contact contact"
        "footer footer footer";
}

/**************** 
    MAIN STYLES 
*****************/
.contenedor>div,
.contenedor .header,
.contenedor .section {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .codear-info {
    padding: 20px;
    border-radius: 4px 0 0 4px;
}

.contenedor .contact {
    padding: 20px;
    border-radius: 0 4px 4px 0;
}

.contenedor .section {
    background: var(--background-main);
    grid-area: section;
}

/* Sections*/
.contenedor .section-1 {
    margin-bottom: 12px;
    border-radius: 4px;
    padding: 50px 70px;
    grid-area: section;
    background: var(--background-nav);
}

.contenedor .section-2 .codear-info {
    padding: 50px 70px;
    background: var(--background-nav);
    grid-area: codear-info;
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
}

.contenedor .section-3 .contact {
    padding: 50px 70px;
    grid-area: contact;
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
}

.maps iframe {
    border: #00bfa5 solid 4px;
    border-radius: 20px;
    margin-top: 20px;
    width: 99%;
    height: 300px;
}



/*********************
    CONTACT  FORM
**********************/
.codear-info {
    background: rgb(97, 177, 243);
    /* agrego imagen fondo del tamanio de caja codear-info mas propiedades */
    background-image: url("../assets/imgs/remote_workers_at_lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    grid-area: codear-info;
    min-height: 700px;
    letter-spacing: 1px;
}

.codear-info span,
.header span,
footer span {
    color: aliceblue;
}

.codear-info h2,
.codear-info ul {
    color: #fff;
    margin: 0 0 1rem 0;
    text-align: center;
    list-style: none;
}

.codear-info ul li {
    list-style: none;
    padding: 0px;
    text-align: left;
}

.codear-info h2,
.header h2,
footer h2 {
    color: rgb(22, 53, 104);
}

/****************
    FORM  STYLES
*****************/
.contact {
    background: var(--background-nav);
    grid-area: contact;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact p {
    margin: 00;
}

.contact label {
    display: block;
    margin-bottom: 10px;
}

.contact .full {
    grid-column: 1/3;
}

.contact input,
.contact textarea {
    width: 90%;
    border: 1px solid #FDD692;
    padding: 1em;
}

.contact button {
    background: rgb(97, 177, 243);
    cursor: pointer;
    border: 0;
    text-transform: capitalize;
    font-weight: 800;

}

/********************

        j s

********************/
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label {

    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {

    background: #fff;
    border-radius: 3px;

}

/**/
#grupo__mensaje {
    width: 100%;
    height: 100px;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    position: absolute;

}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__btn {

    color: #fff;
    border-radius: 3px;
    width: 100%;
    padding: 1em;

}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ---------  estilos para validacion --------- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

/*fin JS*/

/******ANIMACIÓN/TRANSICIÓN********/

.contact button:hover,
.contact button:focus {
    background: rgb(1, 62, 160);
    color: #fff;
    transition: 1s ease-in-out;
}

.nav-list li:hover,
.logo:hover,
.valor:hover,
.casos:hover,
.conocenos:hover,
.contactanos:hover {
    background: rgba(65, 105, 225, 0.171);
    color: #fff;
    transition: 0.5s ease-in-out;
}

.redes i:hover {
    color: rgb(65, 105, 225) !important;
}

.footer {
    border: 0 !important;
}

/*  FIN     contact     form    */


/******************
    Media  Queeries
*******************/

/* Diseño responsive para tablets (landscape) */
@media screen and (max-width: 800px) {
    .contenedor {
        grid-template-areas: "header header header"
            "section section section"
            "codear-info codear-info codear-info"
            "contact contact contact"
            "footer footer footer";
    }


    /* Pasé todo lo relativo a header y footer a header_footer.css */


    .conocenos,
    .contactanos {
        padding: 16px;
    }
}


/* Diseño responsive para celulares (landscape) y tablets (portrait) */
@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-areas: "header header header"
            "section section section"
            "codear-info codear-info codear-info"
            "contact contact contact"
            "footer footer footer";
        grid-gap: 20px;
    }

    .codear-info {
        background: rgb(97, 177, 243);
        grid-area: codear-info;
        letter-spacing: 3px;
    }

    form p {
        display: grid;
        grid-column: 1/3;
    }

    /* Pasé todo lo relativo a header y footer a header_footer.css */

}




/* Diseño responsive para celulares (portrait) */
@media screen and (max-width: 400px) {
    .contenedor {
        grid-template-areas: "header header header"
            "section section section"
            "codear-info codear-info codear-info"
            "contact contact contact"
            "footer footer footer";
        grid-gap: 20px;
    }

    .codear-info {
        background: rgb(97, 177, 243);
        grid-area: codear-info;
        letter-spacing: 3px;
    }
}

/*jsstyle*/