/****************** 
    HEADER STYLES 
******************/
header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    background-color: var(--background-nav);
    border-bottom: solid 5px rgba(0, 0, 0, 0.151);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    /* z-index: 101; */
}

.img {
    width: 55px;
}

header .logo h2,
footer .copyright h2 {
    color: var(--text-tech);
}


header .logo h2 span,
footer .copyright h2 span {
    color: var(--text-nav);
}

.abrir,
.cerrar,
.nav-list li:first-child {
    display: none;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    border-radius: 0 0 5px 5px;
}

header li {
    font-weight: 800;
    border-bottom: solid 4px rgba(37, 36, 36, 0.151);
    border-right: solid 2px rgba(37, 36, 36, 0.151);
    height: 70px;
    border-radius: 5px;
    /* margin-right: 30px; */
    /* padding: 0 20px; */
}

.nav-list li,
.logo {
    border-radius: 5px;
}

.nav-list li a,
header a {
    color: var(--nav-color);
    display: flex;
    padding: 23px 4px;
    text-decoration: none;
}

/* **************** 
    BUTTON  UP
*******************/
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--button);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

/* ********************* 
    THEME   DARK  LABEL 
    Estilos del switch 
************************/
.header .switch {
    position: relative;
    display: inline-block;
    background-color: var();
    width: 60px;
    height: 34px;
}

.header .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header .switch .deslizar {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-slider);
    /* fondo del slider */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.header .switch .deslizar:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-nav);
    /* color del boton */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.deslizar {
    background-color: var(--background-slider);
    /* fondo del slider */
}

input:checked+.deslizar:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/**************
    FOOTER
 *************/
.footer {
    background: rgb(82, 133, 243);
    color: var(--nav-color);
    text-decoration: none;
    font-size: 12px;
    grid-area: footer;
    font-weight: bold;
    background-color: var(--background-nav);
    border-top: solid 5px rgba(0, 0, 0, 0.151);
    /* border-bottom: var(--background) solid 50px; */
    border-radius: 5px 5px 0 0;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-areas: 'brand copyright valor conocenos'
        'brand copyright valor contactanos'
        'brand copyright casos redes'
    ;
}

footer img {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer_img {
    grid-area: brand;
    height: 125px;
    border: 0;
}

.casos {
    grid-area: casos;

}

.valor {
    grid-area: valor;
}

.conocenos {
    grid-area: conocenos;
}

.contactanos {
    grid-area: contactanos;
}

.blog {
    grid-area: blog;
}

.casos,
.valor,
.conocenos,
.contactanos,
.blog {
    padding: 1rem;
}

.copyright {
    grid-area: copyright;
    padding-top: 10px;
}

.redes {
    grid-area: redes;
}

.redes i {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

footer div {
    border-bottom: solid 4px rgba(37, 36, 36, 0.151);
    border-right: solid 2px rgba(37, 36, 36, 0.151);
}

footer a {
    text-decoration: none;
}

.footer .redes i:hover {
    color: var(--text-span);
}

.contenedor .header .logo:hover,
.contenedor .header .nav-list li:hover,
.contenedor .footer .logo:hover,
.contenedor .footer .valor:hover,
.contenedor .footer .casos:hover,
.contenedor .footer .conocenos:hover,
.contenedor .footer .contactanos:hover,
.contenedor .footer .blog:hover {
    background: #0197792f;
    color: #fff;
    transition: 0.5s ease-in-out;
}


/* Diseño responsive para tablets (landscape) */
@media screen and (max-width: 800px) {

    .abrir,
    .cerrar {
        display: block;
        border: 0;
        font-size: 1.24rem;
        background-color: transparent;
        cursor: pointer;
    }


    .nav {
        opacity: 0;
        visibility: hidden;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--background-nav);
        border-radius: 5px;
        padding: 2rem;
        z-index: 100;
    }

    .nav-list li:first-child {
        display: flex;
        width: 5em;
        justify-content: center;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .cerrar i {
        position: absolute;
        top: 3rem;
        right: 37%;
    }

    .nav-list li {
        border-bottom: solid 4px rgba(138, 135, 135, 0.151);
        border-right: solid 2px rgba(138, 135, 135, 0.151);
    }

    .nav-list li a {
        color: #ecececec;

    }

    .footer {
        grid-template-columns: auto;
        grid-template-areas: 'brand copyright copyright valor'
            'brand copyright copyright casos'
            'conocenos contactanos redes redes';
    }

    .footer_img {
        border-bottom: solid 4px rgba(37, 36, 36, 0.151);
    }
}


/* Diseño responsive para celulares (landscape) y tablets (portrait) */
@media screen and (max-width: 600px) {

    .footer {
        grid-template-areas: 'brand brand copyright copyright'
            'valor casos conocenos contactanos blog'
            'redes redes redes redes';
    }

    .copyright {
        padding: 5;
    }

    .footer .conocenos,
    .footer .contactanos,
    .footer .casos,
    .footer .valor {
        min-height: 25px;
        padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }
}


/* Diseño responsive para celulares (portrait) */
@media screen and (max-width: 400px) {

    .footer {
        grid-template-areas: 'brand brand brand brand'
            'copyright copyright copyright copyright'
            'valor valor casos casos'
            'conocenos conocenos contactanos contactanos'
            'redes redes redes redes';
    }

    footer img {
        height: 70px;
    }

    .footer_img {
        border: 0;
    }

    .footer .copyright,
    .footer .conocenos,
    .footer .contactanos,
    .footer .casos,
    .footer .valor {
        min-height: 0;
        padding: 10px;
        align-items: center;

    }

    .redes {
        text-align: center;
    }

    .footer .copyright {
        text-align: center;
        padding: 0;
    }
}