/*  PALETA  COLORES */
:root {
    --nav-color: #212121;
    --button: #a7ffeb;

    --text-P: #010718;
    --text-nav: #E4E9F7;
    --text-span: ;

    --title: ;
    --sub-title: ;
    /* --background: #009688; usado en header footer */
    --background: rgb(230, 230, 230);
    /*  #37383b; #B0C4DE; #009688; */
    --background-nav: #4db6ac;
    --background-main: #B0C4DE;
    --background-redes: ;
    --background-hover: ;
}

[data-theme="light"] {
    --nav-color: #212121;
    --button: #a7ffeb;

    --text-p: #010718;
    --text-nav: #E4E9F7;
    --text-span: #019779;
    --text-tech: #64ffda;

    --title: #212121;
    --sub-title: #292929;

    --background: #fcfcfc;
    /* --background: #EEEE; */
    /* #c6c6c6 #37383b; #00796b; */
    --background-nav: #4db6ac;
    /* --background-main: #B0C4DE; */
    --background-main: linear-gradient(#E0F2F1 5%, rgb(22, 53, 104));
    --background-main-index: linear-gradient(#fcfcfc 5%, #4db6ac);
    --background-card_us: #a5f3eb; /*  #f5f4f4  */
    --background-card_values: #b3f4e4;
    --background-redes: #4db6ac;
    --background-hover: #59c8bd;
    --background-slider: #B0C4DE;
}

[data-theme="dark"] {
    --nav-color: #fafafa;
    --button: #4db6ac;

    --text-p: #e3e2e2; /* #F5F5F5; */
    --text-nav: #E4E9F7;
    --text-span: #019779;
    --text-tech: #64ffda;

    --title: #f5f5f5;
    --sub-title: #e3e2e2; /* #fafafa*/

    --background: #616161;
    /* --background: #212121; */
    --background-nav: #00796b;
    --background-main: #757575;
    /* --background-main: linear-gradient(#481c61 5%, #311B92); */
    --background-main-index: linear-gradient(#212121 5%, #004d40);
    --background-card_us: #468079;     /*  757575  */
    --background-card_values: #02b692;
    --background-redes: #00796b;
    --background-hover: #028e7b;
    --background-slider: #B0C4DE;
}