* {
    font-family: 'Poppins', sans-serif;
}
header ul {
    list-style: none;
    display: flex;
    align-items: center;
}
header ul li {
    text-decoration: none;
    color: #5829cf;
    margin: 0 20px;
}

.section img {
    width: 200px;
    height: 200px;
    border: 2px solid #F2F2F2;
    border-radius: 5%;
    position: center;
}

/*      PROBANDO    MULTI   LANGUAGES   */
.container {
    position: relative;
    max-width: 300px;
    height: 200px;
    padding: 50px;
    color: #555;
    text-align: center;
}
.langWrap{
    background: #333;
}
.langWrap   a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    background: #555656;
    font-size: 18px;
}
.langWrap a.active{
    background: #5829cf;
}
.content{
    margin-top: 20px;
    font-size: 20px;
}