@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(230, 230, 230);
    color: #000;
    font-family: 'Monserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

.contenedor {
    width: 100%;
    margin: 0 auto 0 auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/
    column-gap: 0;

    /*3 columnas: section (con 2 widgets) - sidebar*/
    grid-template-columns: repeat(3, 1fr);

    /*4 filas: header, section, contact-form, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
        "section section section"
        "codear-info contact contact"
        "footer footer footer";
}

/**************** 
    MAIN STYLES 
*****************/
.contenedor>div,
.contenedor .header,
.contenedor .section,
.contenedor .slider,
.contenedor .section-2 .contenedor .carrousel,
.contenedor .section-4 {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .codear-info {
    padding: 20px;
    border-radius: 4px 0 0 4px;
}

.contenedor .contact {
    padding: 20px;
    border-radius: 0 4px 4px 0;
}

.contenedor .section-1,
.contenedor .slider,
.contenedor .carrousel {
    margin-bottom: 12px;
}

.contenedor .section-1,
.contenedor .slider,
.contenedor .carrousel,
.contenedor .section-4 {
    padding: 50px 70px;
    grid-area: section;
}

.contenedor .section {
    background: #fff;
    grid-area: section;
}

/* Seccion 1 */
.contenedor .section-1 {
    background: #7eeeba;
}

/* Seccion 2 */
.contenedor .slider {
    background: #f8a81d;
    /* max-width: 120em; */
    padding: 2em;
    /* width: 1280px; */
    overflow: hidden;
}

.contenedor .slider ul {
    display: flex;
    margin-top: 2em;
    /* padding: 2em; */
    width: 400%;
    background: space;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    animation: slide 20s infinite alternate ease-in-out;
}

.contenedor .slider li {
    width: 100%;
    list-style: none;
    /* margin: 1em 0 0; */
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.img_y_texto {
    position: relative;
    display: inline-block;
}

.nombreseccion {
    position: absolute;
    /* top: 30%; */
    color: rgb(0, 0, 0);
    font-weight: 800;
    background-color: #77a0faf8;
    border-radius: 5px;
    border-bottom: #00000096 solid 2px;
    border-right: #00000096 solid 2px;
}

.nombreseccion a {
    text-decoration: none;
}

.contenedor .slider img {
    /* width: calc(100% / 2 - 2em ); */
    min-height: 10vh;
    max-height: 40vw;
    background-color: #00b2e9;
    outline: #00000013 10px solid;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* Seccion 3 */
.carrousel {
    background-color: lightskyblue;
    max-width: 120em;
    /* padding: 2em; */
    overflow: hidden;
}

.carrousel h1 {
    text-align: center;
}

.carrousel .grande {
    width: 300%;
    margin-top: 2em;
    background: space;
    background-color: rgba(255, 166, 0, 0.582);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0 2em 0;
    border-radius: 5px;
    outline: #00000013 10px solid;
    /* Transición del carrousel */
    transition: all .5s ease;
    transform: translateX(0%);
}

.carrousel .carr_img {
    width: calc(100% / 3 - 2em);
    min-height: 5vh;
    min-width: 300px;
    max-width: 30vw;
    background-color: lime;
    outline: #00000013 10px solid;
}

.carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: .2em;
}

.carrousel .punto.activo i {
    color: blueviolet !important;
}

/*  section  3  bis  */
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

/* Add a blue color to the author */
.author {
    color: cornflowerblue;
    letter-spacing: 0.2rem;
}

/* Add a blue color to the job */
.job {
    color: cornflowerblue;
    font-size: small;
}

/*  section  3  bis  */
/* Seccion 4 */
.contenedor .section-4 {
    background: royalblue;
}

/********/
/********/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.contenedor .section-4 .slider-block {
    background: transparent;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.contenedor .section-4 .slider-block::before,
.contenedor .section-4 .slider-block::after {
    background: linear-gradient(to right, #F9FCFE 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 0;
}

.contenedor .section-4 .slider-block::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.contenedor .section-4 .slider-block::before {
    left: 0;
    top: 0;
}

.contenedor .section-4 .slider-block .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.contenedor .section-4 .slider-block .slide-block {
    height: 100px;
    width: 250px;
}

.contenedor .section-4 .slide-block img{
    object-fit: contain;
}

.contenedor .section-4 .slider-block {
    background: transparent;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.contenedor .section-4 .slider-block::before,
.contenedor .section-4 .slider-block::after {
    background: linear-gradient(to right, #F9FCFE 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 0;
}

/*********************
    CONTACT  FORM
**********************/
.codear-info {
    background: rgb(97, 177, 243);
    /* agrego imagen fondo del tamanio de caja codear-info mas propiedades */
    background-image: url("../assets/imgs/remote_workers_at_lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    grid-area: codear-info;
    letter-spacing: 1px;
}

.codear-info span,
.header span,
footer span {
    color: aliceblue;
}

.codear-info h2,
.codear-info ul {
    color: #fff;
    margin: 0 0 1rem 0;
    text-align: center;
    list-style: none;
}

.codear-info ul li {
    list-style: none;
    padding: 0;
    text-align: left;
}

.codear-info h2,
.header h2,
footer h2 {
    color: rgb(22, 53, 104);
}

/****************
    FORM  STYLES
*****************/
.contact {
    background: lightskyblue;
    grid-area: contact;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact p {
    margin: 00;
}

.contact label {
    display: block;
}

.contact .full {
    grid-column: 1/3;
}

.contact input,
.contact textarea,
.contact button {
    width: 90%;
    border: 1px solid #FDD692;
    padding: 1em;
}

.contact button {
    background: rgb(97, 177, 243);
    cursor: pointer;
    border: 0;
    text-transform: capitalize;
    font-weight: 800;
}

/******ANIMACIÓN/TRANSICIÓN********/

.contact button:hover,
.contact button:focus {
    background: rgb(1, 62, 160);
    color: #fff;
    transition: 1s ease-in-out;
}

.nav-list li:hover,
.logo:hover,
.valor:hover,
.casos:hover,
.conocenos:hover,
.contactanos:hover {
    background: rgba(65, 105, 225, 0.171);
    color: #fff;
    transition: 0.5s ease-in-out;
}

.redes i:hover {
    color: rgb(65, 105, 225) !important;
}

.footer{
    border: 0 !important;
}

/*  FIN     contact     form    */


/******************
    Media  Queeries
*******************/

/* Diseño responsive para tablets (landscape) */
@media screen and (max-width: 800px) {
    .contenedor {
        grid-template-areas: "header header header"
            "section section section"
            "codear-info codear-info codear-info"
            "contact contact contact"
            "footer footer footer";
    }


    /* Pasé todo lo relativo a header y footer a header_footer.css */
  

    .conocenos,
    .contactanos {
        padding: 16px;
    }
}


/* Diseño responsive para celulares (landscape) y tablets (portrait) */
@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-areas: "header header header"
            "section section section"
            "codear-info codear-info codear-info"
            "contact contact contact"
            "footer footer footer";
        grid-gap: 20px;
    }

    .codear-info {
        background: rgb(97, 177, 243);
        grid-area: codear-info;
        letter-spacing: 3px;
    }

    form p {
        display: grid;
        grid-column: 1/3;
    }

    /* Pasé todo lo relativo a header y footer a header_footer.css */

}




/* Diseño responsive para celulares (portrait) */
@media screen and (max-width: 400px) {
    .contenedor {
        grid-template-areas: "header header header"
            "section section section"
            "codear-info codear-info codear-info"
            "contact contact contact"
            "footer footer footer";
        grid-gap: 20px;
    }

    .codear-info {
        background: rgb(97, 177, 243);
        grid-area: codear-info;
        letter-spacing: 3px;
    }
}